{% extends "admin/change_form.html" %}

{% load static %}

{% block extrahead %}
  {{ block.super }}
  {% if tinymce_api_key %}
    <script src="https://cdn.tiny.cloud/1/{{ tinymce_api_key }}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  {% else %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  {% endif %}
  <script src="{% static 'unicom/js/tinymce_init.js' %}"></script>
  <script src="{% static 'unicom/js/tinymce_ai_template.js' %}"></script>
  {% include "admin/unicom/includes/ai_template_modal.html" %}
{% endblock %}
